body {
  font-family: 'Inter', 'sans-serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.os-scrollbar-handle {
  background-color: rgba(0, 0, 0, 0.2);
}

.os-scrollbar-handle:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
