# === REACT.JS + TS ===
**/node_modules/
**/build/
**/.env*
**/package-lock.json

# === ASP.NET ===
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.cache
**/*.dbmdl
**/*.log
**/.env*

# === COMMON FOR ALL ===
*.log
*.tmp
*.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
.env
.env.*
npm-debug.log*
